/* adds NHS logo in top right of all slides */
slides > slide {
  background: white;
  background-image: url("images/nhs_logo.png") !important;
  background-repeat: no-repeat;
  background-position: left 100% top 2%;
}

/* creates style for comment box on slide 2 */
.comment {
background-color: #DBDBDB;
color: black;
padding: 10px;
border: 1px solid black;
margin-left: 25px;
border-radius: 5px;
font-style: italic;
line-height: 1.5em;
font-size: 125%;
}